<!doctype html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138258869-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-138258869-1');
  </script>

  <!-- Vue を読み込む -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

  <!--文字エンコーディングの指定-->
  <meta charset="utf-8">

  <!--ページタイトル-->
  <title>コードの構成音を調べる（100種類以上） O-TO【音楽理論ウェブアプリ】</title>

  <!--サイト情報-->
  <meta property="og:site_name" content="O-TO【音楽理論ウェブアプリ】" />
  <meta property="og:title" content="コードの構成音を調べる（100種類以上） O-TO【音楽理論ウェブアプリ】" />
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://o-to.khufrudamonotes.com/o-to-chords" />
  <meta property="og:locale" content="ja_JP" />

  <!-- 画像情報 -->
  <meta property="og:image" content="image/o-to site title.png" />
  <meta property="og:image:width" content="328" />
  <meta property="og:image:height" content="183" />

  <!--ページの概要-->
  <meta name="description" content="100種類以上のコードの構成音や情報を、全てのルート音で調べられるアプリです。同時に、指定したコードの構成音を含む主なスケールも表示されます。">
  <meta name="og:description" content="100種類以上のコードの構成音や情報を、全てのルート音で調べられるアプリです。同時に、指定したコードの構成音を含む主なスケールも表示されます。">
  <meta name="keyword" content="音楽理論,音楽,コードネーム,コード,コード構成音,アプリ,ウェブアプリ,Webアプリ">

  <!--Internet Explorer用の設定-->
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <!--viewport設定(レスポンシブデザイン対応)-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!--OGPタグ/twitterカード-->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@khufrudamonotes" />
  <meta name="twitter:creator" content="@k1mu0419" />
  <meta name="twitter:title" content="コードの構成音を調べる（100種類以上） O-TO【音楽理論ウェブアプリ】" />
  <meta name="twitter:description" content="100種類以上のコードの構成音や情報を、全てのルート音で調べられるアプリです。同時に、指定したコードの構成音を含む主なスケールも表示されます。" />
  <meta property="og:description" content="100種類以上のコードの構成音や情報を、全てのルート音で調べられるアプリです。同時に、指定したコードの構成音を含む主なスケールも表示されます。" />
  <meta property="og:image" content="image\o-to site title.png" />

  <!--サイトアイコンの指定-->
  <meta name="msapplication-square70x70logo" content="image\icon\site-tile-70x70.png">
  <meta name="msapplication-square150x150logo" content="image\icon\site-tile-150x150.png">
  <meta name="msapplication-wide310x150logo" content="image\icon\site-tile-310x150.png">
  <meta name="msapplication-square310x310logo" content="image\icon\site-tile-310x310.png">
  <meta name="msapplication-TileColor" content="#0078d7">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="image\icon\favicon.ico">
  <link rel="icon" type="image/vnd.microsoft.icon" href="image\icon\favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="image\icon\apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="image\icon\apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="image\icon\apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="image\icon\apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="image\icon\apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="image\icon\apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="image\icon\apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="image\icon\apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="image\icon\apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="36x36" href="image\icon\android-chrome-36x36.png">
  <link rel="icon" type="image/png" sizes="48x48" href="image\icon\android-chrome-48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="image\icon\android-chrome-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="image\icon\android-chrome-96x96.png">
  <link rel="icon" type="image/png" sizes="128x128" href="image\icon\android-chrome-128x128.png">
  <link rel="icon" type="image/png" sizes="144x144" href="image\icon\android-chrome-144x144.png">
  <link rel="icon" type="image/png" sizes="152x152" href="image\icon\android-chrome-152x152.png">
  <link rel="icon" type="image/png" sizes="192x192" href="image\icon\android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="256x256" href="image\icon\android-chrome-256x256.png">
  <link rel="icon" type="image/png" sizes="384x384" href="image\icon\android-chrome-384x384.png">
  <link rel="icon" type="image/png" sizes="512x512" href="image\icon\android-chrome-512x512.png">
  <link rel="icon" type="image/png" sizes="36x36" href="image\icon\icon-36x36.png">
  <link rel="icon" type="image/png" sizes="48x48" href="image\icon\icon-48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="image\icon\icon-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="image\icon\icon-96x96.png">
  <link rel="icon" type="image/png" sizes="128x128" href="image\icon\icon-128x128.png">
  <link rel="icon" type="image/png" sizes="144x144" href="image\icon\icon-144x144.png">
  <link rel="icon" type="image/png" sizes="152x152" href="image\icon\icon-152x152.png">
  <link rel="icon" type="image/png" sizes="160x160" href="image\icon\icon-160x160.png">
  <link rel="icon" type="image/png" sizes="192x192" href="image\icon\icon-192x192.png">
  <link rel="icon" type="image/png" sizes="196x196" href="image\icon\icon-196x196.png">
  <link rel="icon" type="image/png" sizes="256x256" href="image\icon\icon-256x256.png">
  <link rel="icon" type="image/png" sizes="384x384" href="image\icon\icon-384x384.png">
  <link rel="icon" type="image/png" sizes="512x512" href="image\icon\icon-512x512.png">
  <link rel="icon" type="image/png" sizes="16x16" href="image\icon\icon-16x16.png">
  <link rel="icon" type="image/png" sizes="24x24" href="image\icon\icon-24x24.png">
  <link rel="icon" type="image/png" sizes="32x32" href="image\icon\icon-32x32.png">
  <link rel="manifest" href="image\icon\manifest.json">

  <!-- AdSense コード -->
  <script data-ad-client="ca-pub-1796975428667007" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <!-- headのコンポーネントを読み込む -->
  <div id="head">
    <head-template></head-template>
  </div>

  <!--bootstrap を読み込む-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <div class="container">

    <!-- ヘッダー -->
    <header id="header">
      <header-template></header-template>
    </header>

    <!-- メイン -->
    <main>

      <!-- 見出し -->
      <div id="display">
        <title-display></title-display>
      </div>

      <!-- 左(メインコンテンツ) -->
      <h3 class="Larger shadow p-3 rounded mb-5 py-3">①コードの構成音を調べる（100種類以上）</h3>

      <!-- タブの中身 -->
      <div id="tabBox" class=" pb-3">
        <!-- タブの切り替えボタン -->
        <div id="tabs">
          <input type="radio" value="1" id="tab1" v-model="isActive"></input>
          <label for="tab1">使う</label>
          <input type="radio" value="2" id="tab2" v-model="isActive"></input>
          <label for="tab2">ガイド</label>
          <input type="radio" value="3" id="tab3" v-model="isActive"></input>
          <label for="tab3">関連資料</label>
        </div>

        <div id="contents">

          <!-- タブ1の中身 -->
          <div v-if="isActive == '1'">
          </div>

          <!-- タブ2の中身 -->
          <div v-if="isActive == '2'" class="pb-2">
            <p class="pt-3 pb-2">コードの構成音を調べられるアプリです。<br>

            <p class="py-2">――コードの構成音が分からないのも今日までです。</p>

            <h4 class="pt-3 manual">【使い方】</h4>
            <p class="py-2">ドロップダウンリストから任意の項目を選んでください。<br>結果は自動的に切り替わります。</p>

            <h4 class="pt-3 manual">【音名の表記】</h4>
            <p class="py-2">音名は、英・米式、イタリア式、日本式、ドイツ式の4種類から選べます。<br>
              初学者の方は、イタリア式(ドレミ…)にすると、馴染みやすいかもしれません。</p>

            <h4 class="pt-3 manual">【コードの情報】</h4>
            <p class="py-2">コードの読み方、詳細情報が表示されます。<br>ドミナント機能を持つコードの場合は、主な解決先も表示されます。</p>

            <h4 class="pt-3 manual">【コードの構成音を含む主なスケール】</h4>
            <p class="py-2">
              コードは、前後の流れや使われているキーに対しての立ち位置によって役割が変わります。<br>コードの構成音を含む主なスケールの情報は、モーダル・インターチェンジや、転調をする際の参考になるでしょう。</p>
          </div>

          <!-- タブ3の中身 -->
          <div v-if="isActive == '3'" class="pb-2">
            <div class="pt-3 pb-2">・
              <a href="https://khufrudamonotes.com/music-theory-roadmap" target="_blank" rel="noopener noreferrer">【音楽理論
                修得ロードマップ】音楽理論は何から勉強すればいい？</span></a>
              <p>音楽理論の学習ロードマップです。</p>
            </div>
            <div class="py-2">・
              <a href="https://khufrudamonotes.com/slash-chords" target="_blank"
                rel="noopener noreferrer">分数コードの解説【転回形/UST/ハイブリッド・コード】</span></a>
              <p>分数コードの解説記事です。</p>
            </div>
            <div class="py-2">・
              <a href="https://khufrudamonotes.com/u-s-t-hybrid-chords" target="_blank"
                rel="noopener noreferrer">代理コードと、USTやハイブリッド・コードの考え方</span></a>
              <p>代理コードと、UST(アッパー・ストラクチャー・トライアド)やハイブリッド・コードの考え方をまとめた記事です。</p>
            </div>
          </div>
        </div>
      </div>


      <div class="text-right">

        <label for="rootNumber" class="box1 col-md-10 col-xl-2 py-2 mx-2">ルート音
          <select id="rootNumber" class="form-select my-1" aria-label="Default select example"
            onchange="ChordNoteSwitch()">
            <option value=0 selected>C</option>
            <option value=1>C#-D♭</option>
            <option value=2>D</option>
            <option value=3>D#-E♭</option>
            <option value=4>E</option>
            <option value=5>F</option>
            <option value=6>F#-G♭</option>
            <option value=7>G</option>
            <option value=8>G#-A♭</option>
            <option value=9>A</option>
            <option value=10>A#-B♭</option>
            <option value=11>B</option>
          </select>
        </label>

        <label for="constituent_binary" class="box1 col-md-10 col-xl-5 pt-2 pb-4 mx-2">調べたいコード
          <select id="constituent_binary" class="form-select my-1" aria-label="Default select example"
            onchange="ChordNoteSwitch()">
            <!-- ページがロードされた後にJavaScriptによって選択肢を追加する -->
          </select>
        </label>

        <label for="key_signature_names" class="box1 col-md-10 col-xl-2 pt-2 pb-4 mx-2">音名の表記
          <select id="key_signature_names" class="form-select my-1" aria-label="Default select example"
            onchange="ChangeEIJG()">
            <option value=0 selected>英・米式表記</option>
            <option value=1>イタリア式表記</option>
            <option value=2>日本式表記</option>
            <option value=3>ドイツ式表記</option>
          </select>
        </label>

      </div>

      <table>
        <tr>
          <td class="Degree0">R</td>
          <td class="Degree1">m2</td>
          <td class="Degree2">M2</td>
          <td class="Degree3">m3</td>
          <td class="Degree4">M3</td>
          <td class="Degree5">P4</td>
          <td class="Degree6">-5</td>
          <td class="Degree7">P5</td>
          <td class="Degree8">+5</td>
          <td class="Degree9">M6</td>
          <td class="Degree10">m7</td>
          <td class="Degree11">M7</td>
        </tr>
        <tr>
          <td></td>
          <td class="Degree1">♭9</td>
          <td class="Degree2">9</td>
          <td class="Degree3">#9</td>
          <td></td>
          <td class="Degree5">11</td>
          <td class="Degree6">#11</td>
          <td></td>
          <td class="Degree8">♭13</td>
          <td class="Degree9">13</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td id="chord_0" class="NoteName"></td>
          <td id="chord_1" class="NoteName"></td>
          <td id="chord_2" class="NoteName"></td>
          <td id="chord_3" class="NoteName"></td>
          <td id="chord_4" class="NoteName"></td>
          <td id="chord_5" class="NoteName"></td>
          <td id="chord_6" class="NoteName"></td>
          <td id="chord_7" class="NoteName"></td>
          <td id="chord_8" class="NoteName"></td>
          <td id="chord_9" class="NoteName"></td>
          <td id="chord_10" class="NoteName"></td>
          <td id="chord_11" class="NoteName"></td>
        </tr>
      </table>

      <div class="accordion py-3" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              コードの情報
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <!-- コードネームの判定と情報をJavaScriptで書き込む -->
              <div id="AddChordHTML"></div>
              <div id="AddChordNameHTML"></div>
              <div><br></div>
              <div id="AddChordInfoHTML"></div>
              <div id="AddChordInfo2HTML"></div>
              <div id="AddChordInfoOmit5HTML"></div>
              <div id="AddChordInfoTriToneHTML"></div>
              <div id="AddChordInfoSub2HTML"></div>

            </div>
          </div>
        </div>
      </div>

      <div class="accordion py-3" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
              aria-expanded="true" aria-controls="collapseTwo">
              このコードの構成音を含む主なスケールはこちら。
            </button>
          </h2>

          <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">

            <label for="ModalCandidateSelect" class="box1 col-md-10 col-xl-4 pt-2 pb-0 mx-2">
              <select id="ModalCandidateSelect" class="form-select my-1" aria-label="Default select example"
                onchange="ModalCandidateSelect()">
                <option value=0 selected>英・米式表記で構成音を表示する</option>
                <option value=1>イタリア式表記で構成音を表示する</option>
                <option value=2>日本式表記で構成音を表示する</option>
                <option value=3>ドイツ式表記で構成音を表示する</option>
                <option value=4>構成音を表示しない</option>
              </select>
            </label>

            <div>
              <button id="scale_language_change_button" class="btn btn-primary box1 col-10 col-md-3 col-xl-2 mx-2 mt-2"
                onclick="ScaleLanguageJE()">日本語⇔English</button>
            </div>

            <div class="accordion-body">
              <!--ページがロードされた後にJavaScriptによって候補となるスケールを表示する -->
              <div id="addHTML">

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="pt-2 pb-1">※このページでは、厳密な異名同音の区別を行っていません。</div>
      <div class="pt-2 pb-4"><a href="https://khufrudamonotes.com/enharmonic" target="_blank"
          rel="noopener noreferrer">異名同音を解説します【「ド#」と「レ♭」との違いとは？】</a>
      </div>

      <!-- コードネームの書き方 -->
      <img class="pt-3 pb-3" src="image\chord name structure.png">

      <div id="right-column">
        <right-column></right-column>
      </div>

    </main>

    <!-- フッター -->
    <footer id="footer">
      <footer-template></footer-template>
      <copyright-text></copyright-text>
    </footer>
  </div>

  <!--ページのロードが終了したときに実行される関数 -->
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      //コードの選択肢を表示するためのHTML要素(option)を追加するための関数
      CreateChordChoices();
      //コードの情報を処理して書き込む関数(コードで使用)
      ChordNoteSwitch();
      //モーダル・インターチェンジ候補を表示するためのHTML要素(div)を追加するための関数
      CreateCandidate();
      //モーダルインターチェンジ候補のスケールの構成音の表示・非表示の切り替え(コード・コード/モード検索用)
      ModalCandidateSelect();
    });
  </script>

  <!-- JavaScriptを読み込む-->
  <script src="js/Vue.js"></script>
  <script src="js/index.js"></script>

  <!-- シェアボタン用のJavaScript -->
  <!-- Twitter -->
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!-- facebook -->
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v11.0"
    nonce="s28FkDyH"></script>
  <!-- note -->
  <script async src="https://cdn.st-note.com/js/social_button.min.js"></script>
  <!-- はてなブックマーク -->
  <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8"
    async="async"></script>
  <!-- Pocket -->
  <script
    type="text/javascript">!function (d, i) { if (!d.getElementById(i)) { var j = d.createElement("script"); j.id = i; j.src = "https://widgets.getpocket.com/v1/j/btn.js?v=1"; var w = d.getElementById(i); d.body.appendChild(j); } }(document, "pocket-btn-js");</script>
  <!-- Line -->
  <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async"
    defer="defer"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

</body>

</html>