<!doctype html>
<html lang="ja">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138258869-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-138258869-1');
    </script>

    <!-- Vue を読み込む -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!--文字エンコーディングの指定-->
    <meta charset="utf-8">

    <!--サイト情報-->
    <meta property="og:title" content="コード移調 O-TO【音楽理論ウェブアプリ】" />
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://o-to.khufrudamonotes.com/o-to-note-value" />
    <meta property="og:image" content="image/o-to site title.png" />
    <meta property="og:site_name" content="O-TO【音楽理論ウェブアプリ】" />
    <meta name="description" content="コードの移調が瞬時に行えます。あなたのコード進行をメモしたテキストは、12キー全てで確認できます。" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:image:width" content="328" />
    <meta property="og:image:height" content="183" />

    <!--ページタイトル-->
    <title>コード移調 O-TO【音楽理論ウェブアプリ】</title>

    <!--ページの概要-->
    <meta name="description" content="コードの移調が瞬時に行えます。あなたのコード進行をメモしたテキストは、12キー全てで確認できます。">
    <meta name="keyword" content="音楽理論,音楽,コード進行,ディグリーネーム,変換">

    <!--Internet Explorer用の設定-->
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <!--viewport設定(レスポンシブデザイン対応)-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--OGPタグ/twitterカード-->
    <meta name="twitter:card" content="Summary Card" />
    <meta name="twitter:site" content="@khufrudamonotes" />
    <meta name="twitter:title" content="コード移調 O-TO【音楽理論ウェブアプリ】" />
    <meta name="twitter:description" content="コードの移調が瞬時に行えます。あなたのコード進行をメモしたテキストは、12キー全てで確認できます。" />
    <meta name="twitter:image" content="image\o-to site title.png" />

    <!--サイトアイコンの指定-->
    <meta name="msapplication-square70x70logo" content="image\icon\site-tile-70x70.png">
    <meta name="msapplication-square150x150logo" content="image\icon\site-tile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="image\icon\site-tile-310x150.png">
    <meta name="msapplication-square310x310logo" content="image\icon\site-tile-310x310.png">
    <meta name="msapplication-TileColor" content="#0078d7">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="image\icon\favicon.ico">
    <link rel="icon" type="image/vnd.microsoft.icon" href="image\icon\favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="image\icon\apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="image\icon\apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="image\icon\apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="image\icon\apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="image\icon\apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="image\icon\apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="image\icon\apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="image\icon\apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="image\icon\apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="36x36" href="image\icon\android-chrome-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="image\icon\android-chrome-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="image\icon\android-chrome-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="image\icon\android-chrome-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="image\icon\android-chrome-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="image\icon\android-chrome-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="image\icon\android-chrome-152x152.png">
    <link rel="icon" type="image/png" sizes="192x192" href="image\icon\android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="image\icon\android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="image\icon\android-chrome-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="image\icon\android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="36x36" href="image\icon\icon-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="image\icon\icon-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="image\icon\icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="image\icon\icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="image\icon\icon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="image\icon\icon-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="image\icon\icon-152x152.png">
    <link rel="icon" type="image/png" sizes="160x160" href="image\icon\icon-160x160.png">
    <link rel="icon" type="image/png" sizes="192x192" href="image\icon\icon-192x192.png">
    <link rel="icon" type="image/png" sizes="196x196" href="image\icon\icon-196x196.png">
    <link rel="icon" type="image/png" sizes="256x256" href="image\icon\icon-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="image\icon\icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="image\icon\icon-512x512.png">
    <link rel="icon" type="image/png" sizes="16x16" href="image\icon\icon-16x16.png">
    <link rel="icon" type="image/png" sizes="24x24" href="image\icon\icon-24x24.png">
    <link rel="icon" type="image/png" sizes="32x32" href="image\icon\icon-32x32.png">
    <link rel="manifest" href="image\icon\manifest.json">

    <!-- AdSense コード -->
    <script data-ad-client="ca-pub-1796975428667007" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- headのコンポーネントを読み込む -->
    <div id="head">
        <head-template></head-template>
    </div>

    <!--bootstrap を読み込む-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <!-- ヘッダー -->
        <header id="header">
            <header-template></header-template>
        </header>
        <!-- メイン -->
        <main>
            <!-- 見出し -->
            <div id="display">
                <title-display></title-display>
            </div>

            <!-- 左(メインコンテンツ) -->
            <h3 class="shadow p-3 mb-5 bg-white rounded mb-5 py-3">⑨コード移調</h3>

            <!-- タブの中身 -->
            <div id="tabBox" class=" pb-3">
                <!-- タブの切り替えボタン -->
                <div id="tabs">
                    <input type="radio" value="1" id="tab1" v-model="isActive"></input>
                    <label for="tab1">使う</label>
                    <input type="radio" value="2" id="tab2" v-model="isActive"></input>
                    <label for="tab2">説明</label>
                    <input type="radio" value="3" id="tab3" v-model="isActive"></input>
                    <label for="tab3">関連資料</label>
                </div>

                <div id="contents">

                    <!-- タブ1の中身 -->
                    <div v-if="isActive == '1'">
                    </div>

                    <!-- タブ2の中身 -->
                    <div v-if="isActive == '2'" class="pb-5">
                        <p class="py-2">入力したコード進行を、任意のキーやディグリーネームへ書き換えるアプリです。 </p>

                        <p class="py-2">今までの人生で、コード進行のメモを別のキーへ書き換える作業を何度やったか分かりません。<br>
                            しかし、このアプリを使えば一瞬で終わるので、もうやる必要は無くなりました。
                        </p>

                        <h4 class="pt-3 manual">【使い方】</h4>
                        <p class="py-2">①入力するコード進行のキーを設定してください。</p>
                        <p class="py-2">②コード進行のテキストを入力するか、貼り付けてください。</p>
                        <p class="py-2">③変換したいキーを選んでください。</p>

                        <h4 class="pt-3 manual">【想定している用途】</h4>
                        
                        <div class="py-2">・<b>コード進行メモを別のキーへ変更する</b></div>
                        <p class="py-2">　オリジナル曲などのキーを変更したくなったとき、いちいち書き直す必要はありません。<br>　テキストを貼り付けてキーを設定するだけでOKです。</p>
                        <div class="py-2">・<b>コード進行のアイデアメモをディグリーネームへ変換する</b></div>
                        <p class="py-2">　お気に入りのコード進行をディグリーネームでメモしたいときありますよね。<br>　変換後のキーを「ディグリーネーム表記」にすれば簡単に変換できます。</p>
                        <p class="py-2">　※主要なコード進行は、既に70種類以上<a href="o-to-chord-progression.html">④コード進行</a>にまとめています。<br>　こちらも併せてお使いください。</p>

                        <h4 class="pt-3 manual">【その他】</h4>
                        <lu class="py-2">
                            <li>アルファベットの「b」を入力すると、「♭」扱いになります。</li>
                            <li>キー設定や異名同音の表記によっては、正しく変換されない場合があります。</li>
                            <li>アプリの性質上、英文を入力しないでください。</li>
                            <li>テキストの保存機能はありません。元データを保存した上でお使いください。</li>
                        </lu>

                    </div>


                    <!-- タブ3の中身 -->
                    <div v-if="isActive == '3'" class="pb-5">
                        <div class="py-2">・
                            <a href="o-to-chord-progression.html" target="_blank"
                                rel="noopener noreferrer">④コード進行</span></a>
                            <p>　コードのよく使われる進行を、70種類以上まとめたページです。</p>
                        </div>
                        <div class="py-2">・
                            <a href="https://khufrudamonotes.com/slash-chords" target="_blank"
                                rel="noopener noreferrer">分数コードの解説【転回形/UST/ハイブリッド・コード】</span></a>
                            <p>　分数コードの解説記事です。</p>
                        </div>
                        <div class="py-2">・
                            <a href="https://khufrudamonotes.com/u-s-t-hybrid-chords" target="_blank"
                                rel="noopener noreferrer">代理コードと、USTやハイブリッド・コードの考え方</span></a>
                            <p>　代理コードと、UST(アッパー・ストラクチャー・トライアド)やハイブリッド・コードの考え方をまとめた記事です。</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- ここから分割されたページの左側 -->
                <div class="col-md-6">
                    <label for="BeforeRootNumber">①変換前のキーを設定してください。
                        <select id="BeforeRootNumber" class="form-select my-1" aria-label="Default select example"
                            onchange="ChangeDegreeText()">
                            <option value=0>C (#・♭×0)</option>
                            <option value=1>D♭ (♭×5)</option>
                            <option value=2>D (#×2)</option>
                            <option value=3>E♭ (♭×3)</option>
                            <option value=4>E (#×4)</option>
                            <option value=5>F (♭×1)</option>
                            <option value=6>F# (#×6)</option>
                            <option value=7>G (#×1)</option>
                            <option value=8>A♭ (♭×4)</option>
                            <option value=9>A (#×3)</option>
                            <option value=10>B♭ (♭×2)</option>
                            <option value=11>B (#×5)</option>
                        </select>
                    </label>
                    <!-- サンプルボタン -->
                    <div id="ExampleTextButton">
                        <button class="btn btn-primary box1 col-8 col-md-8 col-xl-8 m-3"
                            onclick="ExampleTextOne()">試しにコード進行サンプルを入力してみる</button>
                    </div>

                    <!-- コード進行入力テキストエリア -->
                    <TEXTAREA id="textarea" maxlength="100000" cols="80" rows="15"
                        placeholder="②こちらにコード進行のテキストを入力してください。※保存機能はありません。元データを保存した上でお使いください。"></TEXTAREA>
                </div>

                <!-- ここから分割されたページの右側 -->
                <div class="col-md-6">
                    <label for="AfterRootNumber">③変換後のキーを設定してください。
                        <select id="AfterRootNumber" class="form-select my-1" aria-label="Default select example"
                            onchange="ChangeDegreeText()">
                            <option value=0>C (#・♭×0)</option>
                            <option value=1>D♭ (♭×5)</option>
                            <option value=2>D (#×2)</option>
                            <option value=3>E♭ (♭×3)</option>
                            <option value=4>E (#×4)</option>
                            <option value=5>F (♭×1)</option>
                            <option value=6>F# (#×6)</option>
                            <option value=7>G (#×1)</option>
                            <option value=8>A♭ (♭×4)</option>
                            <option value=9>A (#×3)</option>
                            <option value=10>B♭ (♭×2)</option>
                            <option value=11>B (#×5)</option>
                            <option value=12 selected>ディグリーネーム表記</option>
                        </select>
                        <!-- 修正後テキスト -->
                        <div id="box" contenteditable=False class="pb-3">
                            読み込み中…
                        </div>

                </div>
            </div>

            <!-- 右カラム部分 -->
            <div id="right-column">
                <right-column></right-column>
            </div>
        </main>

        <!-- フッター -->
        <footer id="footer">
            <footer-template></footer-template>
            <copyright-text></copyright-text>
        </footer>
    </div>
    </div>
    <!-- JavaScriptを読み込む-->
    <script src="Vue.js"></script>
    <script src="ChordChange.js"></script>

    <!-- シェアボタン用のJavaScript -->
    <!-- Twitter -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- facebook -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v11.0"
        nonce="s28FkDyH"></script>
    <!-- note -->
    <script async src="https://cdn.st-note.com/js/social_button.min.js"></script>
    <!-- はてなブックマーク -->
    <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8"
        async="async"></script>
    <!-- Pocket -->
    <script
        type="text/javascript">!function (d, i) { if (!d.getElementById(i)) { var j = d.createElement("script"); j.id = i; j.src = "https://widgets.getpocket.com/v1/j/btn.js?v=1"; var w = d.getElementById(i); d.body.appendChild(j); } }(document, "pocket-btn-js");</script>
    <!-- Line -->
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async"
        defer="defer"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!--ページのロードが終了したときに実行される関数 -->
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            ButtonInvisible();
            ChangeDegreeText();
        });
    </script>
</body>

</html>