/* フォント指定 */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f5f5f5;
}

/* 画像のレスポンシブ対応 */

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: #ffffff;
    padding: 1em;
    margin: 0;
}

box {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: #ffffff;
    padding: 1em;
    margin: 0;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    /* 幅 */
    table-layout: fixed;
    font-size: clamp(0.1rem, 0.1rem + 1vw, 0.95rem);
}

th, td {
    padding: 4px;
    border: 1px solid rgb(158, 158, 158);
}

#FletNumberUpper {
    background-color: #111111;
    color: #FFF;
}

#FletNumberLower {
    background-color: #111111;
    color: #FFF;
}

.FletNumberInlay {
    background-color: #111111;
    color: rgb(29, 255, 123);
}

/* ----------------------------- */

.DegreeBlack {
    background-color: rgb(213, 213, 213);
}

.Degree0 {
    background-color: #0588ff;
}

.Degree1 {
    background-color: #a4c2f4;
}

.Degree2 {
    background-color: #21daff;
}

.Degree3 {
    background-color: #21ff95;
}

.Degree4 {
    background-color: #01ff50;
}

.Degree5 {
    background-color: #ffccff;
}

.Degree6 {
    background-color: #00da15;
}

.Degree7 {
    background-color: #fcfc04;
}

.Degree8 {
    background-color: #ff6e01;
}

.Degree9 {
    background-color: #ff2121;
}

.Degree10 {
    background-color: #ff19bd;
}

.Degree11 {
    background-color: #cc99ff;
}

/* 500px以下の画面で適用 */

@media only screen and (max-width: 500px) {
    table.mobile-scroll {
        white-space: nowrap;
        /* 折り返されないように */
        overflow-x: auto;
        /* 横スクロール */
        -webkit-overflow-scrolling: touch;
        /* スマホでスムーズにスクロールできるように */
    }
}

/* 説明タブ */

#tabs {
    overflow: hidden;
}

#tabs input {
    display: none;
}

#tabs label {
    display: inline-block;
    line-height: 40px;
    width: 90px;
    text-align: center;
    cursor: pointer;
    background: #c0c0c0;
    transition: 0.3s;
    border-radius: 10px 10px 0 0;
}

#tabs input:checked+label, #tabs label:hover {
    background: royalblue;
    color: #fff;
}

#contents {
    padding: 5px 10px;
    border-top: 2px solid royalblue;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#contents p {
    /* font-size: 15px; */
    margin: 0;
    font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
}

#contents p.title {
    font-size: 16px;
    font-weight: bold;
}

.manual {
    color: royalblue;
    font-size: clamp(0.8rem, 0.8rem + 1vw, 1.3rem);
}

a {
    font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
}

#accordionExample {
    font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);
}