
//サイトのメインカラー
$mainColor:crimson;

//度数表記のためのカラー
$DegreeColor0:#0588ff;
$DegreeColor1:#a4c2f4;
$DegreeColor2:#21daff;
$DegreeColor3:#66cdaa;
$DegreeColor4:#01ff50;
$DegreeColor5:#ffccff;
$DegreeColor6:#e9967a;
$DegreeColor7:#fcfc04;
$DegreeColor8:#ff6e01;
$DegreeColor9:#ff2121;
$DegreeColor10:#ff19bd;
$DegreeColor11:#cc99ff;

// ボーダーのカラー
$BorderColor:rgb(210, 210, 210);