<!doctype html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138258869-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-138258869-1');
  </script>

  <!-- Vue を読み込む -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>


  <!--文字エンコーディングの指定-->
  <meta charset="utf-8">

  <!--ページタイトル-->
  <title>コード進行まとめ（80種類以上） O-TO【音楽理論ウェブアプリ】</title>

  <!--サイト情報-->
  <meta property="og:site_name" content="O-TO【音楽理論ウェブアプリ】" />
  <meta property="og:title" content="コード進行まとめ（80種類以上） O-TO【音楽理論ウェブアプリ】" />
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://o-to.khufrudamonotes.com/o-to-chord-progression" />
  <meta property="og:locale" content="ja_JP" />

  <!-- 画像情報 -->
  <meta property="og:image"
    content="https://o-to.khufrudamonotes.com/image/thumbnail/chord-progression_thumbnail.png" />
  <meta name="twitter:image"
    content="https://o-to.khufrudamonotes.com/image/thumbnail/chord-progression_thumbnail.png" />

  <!--ページの概要-->
  <meta property="description" content="80種類以上のコード進行をまとめたアプリです。表示は全てのキーへ切り替え可能なので、実質1000以上のコード進行を確認できます。">
  <meta property="og:description" content="80種類以上のコード進行をまとめたアプリです。表示は全てのキーへ切り替え可能なので、実質1000以上のコード進行を確認できます。">
  <meta name="keyword" content="音楽理論,音楽,コード進行,王道進行,カノン進行,ポップパンク進行,丸サ進行,小室進行,just the two of us進行,アプリ,ウェブアプリ,Webアプリ">

  <!--Internet Explorer用の設定-->
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <!--viewport設定(レスポンシブデザイン対応)-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!--OGPタグ/Facebook-->
  <meta property="fb:app_id" content="554281142516311">
  <!--OGPタグ/note-->
  <meta name="note:card" content="summary_large_image">

  <!--OGPタグ/twitterカード-->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@khufrudamonotes" />
  <meta name="twitter:creator" content="@k1mu0419" />
  <meta property="twitter:title" content="コード進行まとめ（80種類以上） O-TO【音楽理論ウェブアプリ】" />
  <meta property="twitter:description" content="80種類以上のコード進行をまとめたアプリです。表示は全てのキーへ切り替え可能なので、実質1000以上のコード進行を確認できます。" />
  <meta property="og:description" content="80種類以上のコード進行をまとめたアプリです。表示は全てのキーへ切り替え可能なので、実質1000以上のコード進行を確認できます。" />

  <!--サイトアイコンの指定-->
  <meta name="msapplication-square70x70logo" content="image\icon\site-tile-70x70.png">
  <meta name="msapplication-square150x150logo" content="image\icon\site-tile-150x150.png">
  <meta name="msapplication-wide310x150logo" content="image\icon\site-tile-310x150.png">
  <meta name="msapplication-square310x310logo" content="image\icon\site-tile-310x310.png">
  <meta name="msapplication-TileColor" content="#0078d7">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="image\icon\favicon.ico">
  <link rel="icon" type="image/vnd.microsoft.icon" href="image\icon\favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="image\icon\apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="image\icon\apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="image\icon\apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="image\icon\apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="image\icon\apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="image\icon\apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="image\icon\apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="image\icon\apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="image\icon\apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="36x36" href="image\icon\android-chrome-36x36.png">
  <link rel="icon" type="image/png" sizes="48x48" href="image\icon\android-chrome-48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="image\icon\android-chrome-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="image\icon\android-chrome-96x96.png">
  <link rel="icon" type="image/png" sizes="128x128" href="image\icon\android-chrome-128x128.png">
  <link rel="icon" type="image/png" sizes="144x144" href="image\icon\android-chrome-144x144.png">
  <link rel="icon" type="image/png" sizes="152x152" href="image\icon\android-chrome-152x152.png">
  <link rel="icon" type="image/png" sizes="192x192" href="image\icon\android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="256x256" href="image\icon\android-chrome-256x256.png">
  <link rel="icon" type="image/png" sizes="384x384" href="image\icon\android-chrome-384x384.png">
  <link rel="icon" type="image/png" sizes="512x512" href="image\icon\android-chrome-512x512.png">
  <link rel="icon" type="image/png" sizes="36x36" href="image\icon\icon-36x36.png">
  <link rel="icon" type="image/png" sizes="48x48" href="image\icon\icon-48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="image\icon\icon-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="image\icon\icon-96x96.png">
  <link rel="icon" type="image/png" sizes="128x128" href="image\icon\icon-128x128.png">
  <link rel="icon" type="image/png" sizes="144x144" href="image\icon\icon-144x144.png">
  <link rel="icon" type="image/png" sizes="152x152" href="image\icon\icon-152x152.png">
  <link rel="icon" type="image/png" sizes="160x160" href="image\icon\icon-160x160.png">
  <link rel="icon" type="image/png" sizes="192x192" href="image\icon\icon-192x192.png">
  <link rel="icon" type="image/png" sizes="196x196" href="image\icon\icon-196x196.png">
  <link rel="icon" type="image/png" sizes="256x256" href="image\icon\icon-256x256.png">
  <link rel="icon" type="image/png" sizes="384x384" href="image\icon\icon-384x384.png">
  <link rel="icon" type="image/png" sizes="512x512" href="image\icon\icon-512x512.png">
  <link rel="icon" type="image/png" sizes="16x16" href="image\icon\icon-16x16.png">
  <link rel="icon" type="image/png" sizes="24x24" href="image\icon\icon-24x24.png">
  <link rel="icon" type="image/png" sizes="32x32" href="image\icon\icon-32x32.png">
  <link rel="manifest" href="image\icon\manifest.json">

  <!-- AdSense コード -->
  <script data-ad-client="ca-pub-1796975428667007" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <!-- headのコンポーネントを読み込む -->
  <div id="head">
    <head-template></head-template>
  </div>

  <!--bootstrap を読み込む-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <div class="container">

    <!-- ヘッダー -->
    <header id="header">
      <header-template></header-template>
    </header>

    <!-- メイン -->
    <main>

      <!-- 見出し -->
      <div id="display">
        <title-display></title-display>
      </div>

      <!-- 左(メインコンテンツ) -->
      <div class="row">
        <div class="col-xxl-8">

          <h3 class="Larger shadow p-3 rounded mb-5 py-3">④コード進行まとめ（<span class="chord_prog_count">80種類以上</span>）</h3>

          <!-- タブの中身 -->
          <div id="tabBox" class=" pb-3">
            <!-- タブの切り替えボタン -->
            <div id="tabs">
              <input type="radio" value="1" id="tab1" v-model="isActive"></input>
              <label for="tab1">ガイド</label>
              <input type="radio" value="2" id="tab2" v-model="isActive"></input>
              <label for="tab2">説明書</label>
              <input type="radio" value="3" id="tab3" v-model="isActive"></input>
              <label for="tab3">関連資料</label>
            </div>

            <div id="contents">

              <!-- タブ1の中身 -->
              <div v-if="isActive == '1'">
                <p class="pt-3 pb-2">
                  <span class="chord_prog_count">80種類以上</span>のコード進行をまとめたアプリです。<br>表示は全てのキーへ切り替え可能なので、実質<span
                    class="all_chord_prog_count">1000種類以上</span>のコード進行を確認できます。
                </p>
                <p class="py-2">※リンク先の参考曲は、厳密には完全に同じコード進行ではない場合もあります。</p>
                <p class="py-2">※任意のコード進行のキーを切り替えたい方は、<a href="o-to-degree-change.html">⑨コード移調</a>も併せてお使いください。</p>
              </div>

              <!-- タブ2の中身 -->
              <div v-if="isActive == '2'" class="pb-2">

                <h4 class="pt-3 manual">【使い方】</h4>
                <p class="py-1">ドロップダウンリストから任意のキーを選んでください。<br>
                <p class="py-1">コード進行は、そのまま使用する必要はありません。<br>
                  組み合わせたり、代理コードで置き換えたりしてもOKです。</p>

                <h4 class="pt-3 manual">【分類の方法】</h4>
                <p class="py-1">短調であっても、平行調の長調のディグリーで解釈しています。<br>
                  （たとえば、CメジャーキーでもAマイナーキーでも、「Amコード」のディグリー表記は「Ⅵm」と考えます。）<br>
                  この解釈の場合、多くのコード進行はキーのⅠ、Ⅳ、Ⅵmから始まります。</p>
                <p class="py-1"></p>Ⅰ始まりのコード進行は明るく、Ⅵm始まりのコード進行は暗い印象を与える傾向があります。</p>

                <h4 class="pt-3 manual">【補足情報】</h4>
                <p class="py-1">PCからお使いの方は、それぞれのコード進行にカーソルを合わせると補足情報が表示されます。<br>
                  わりとふざけたコメントもありますが、参考にしてみてください。</p>

                <h4 class="pt-3 manual">【俗称・所感】</h4>
                <p class="py-1">「俗称」及び「所感」は、僕の独断と偏見で書かれています。<br>
                  音楽の感じ方は人それぞれなので、必ずしも書かれているシチュエーションでなくても使えます。</p>

              </div>

              <!-- タブ3の中身 -->
              <div v-if="isActive == '3'" class="pb-2">
                <div class="pt-3 pb-2">・
                  <a href="o-to-degree-change.html" target="_blank" rel="noopener noreferrer">⑨コード移調</span></a>
                  <p>入力したコード進行を、任意のキーやディグリーネームへ一瞬で書き換えます。</p>
                </div>
                <div class="py-2">・
                  <a href="https://khufrudamonotes.com/slash-chords" target="_blank"
                    rel="noopener noreferrer">分数コードの解説【転回形/UST/ハイブリッド・コード】</span></a>
                  <p>分数コードの解説記事です。</p>
                </div>
                <div class="py-2">・
                  <a href="https://khufrudamonotes.com/u-s-t-hybrid-chords" target="_blank"
                    rel="noopener noreferrer">代理コードと、USTやハイブリッド・コードの考え方</span></a>
                  <p>代理コードと、UST(アッパー・ストラクチャー・トライアド)やハイブリッド・コードの考え方をまとめた記事です。</p>
                </div>
              </div>
            </div>
          </div>


          <div class="text-right">

            <label for="rootNumber" class="pb-4">調べたいキーを選択する
              <select id="rootNumber" class="form-select my-1" aria-label="Default select example"
                onchange="ChangeChordProgression()">
                <option value=0>Cメジャー / Aマイナー (#・♭×0)</option>
                <option value=1>D♭メジャー / B♭マイナー (♭×5)</option>
                <option value=2>Dメジャー / Bマイナー (#×2)</option>
                <option value=3>E♭メジャー / Cマイナー (♭×3)</option>
                <option value=4>Eメジャー / C#マイナー (#×4)</option>
                <option value=5>Fメジャー / Dマイナー (♭×1)</option>
                <option value=6>F#メジャー / D#マイナー (#×6)</option>
                <option value=7>Gメジャー / Eマイナー (#×1)</option>
                <option value=8>A♭メジャー / Fマイナー (♭×4)</option>
                <option value=9>Aメジャー / F#マイナー (#×3)</option>
                <option value=10>B♭メジャー / Gマイナー (♭×2)</option>
                <option value=11>Bメジャー / G#マイナー (#×5)</option>
              </select>
            </label>

            <a id="b_clef_image">

            </a>
          </div>

          <div class="text-right">
            <button id="degree_change_button" class="btn btn-secondary box1 col-8 col-md-5 col-xl-4 m-3"
              onclick="ChangeChordProgression()">コードネームで表示</button>

            <button id="degree_button" class="btn btn-success box1 col-8 col-md-5 col-xl-4 m-3"
              onclick="ChangeChordProgressionDegree()">ディグリーネームで表示</button>
          </div>



          <div class="accordion py-2" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                  aria-expanded="true" aria-controls="collapseThree">
                  Ⅰ始まりのコード進行<span class="one_chord_prog_count"></span>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <table class="table">

                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">俗称・所感</th>
                        <th scope="col">コード進行</th>
                      </tr>
                    </thead>
                    <!--JavaScriptによってページがロードされた後にコード進行を表示する -->
                    <tbody id="addHTML1">
                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion py-2" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Ⅳ始まりのコード進行<span class="four_chord_prog_count"></span>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <table class="table">

                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">俗称・所感</th>
                        <th scope="col">コード進行</th>
                      </tr>
                    </thead>
                    <!--JavaScriptによってページがロードされた後にコード進行を表示する -->
                    <tbody id="addHTML4">
                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion py-2" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                  aria-expanded="true" aria-controls="collapseTwo">
                  Ⅵm始まりのコード進行<span class="six_chord_prog_count"></span>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <table class="table">

                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">俗称・所感</th>
                        <th scope="col">コード進行</th>
                      </tr>
                    </thead>
                    <!--JavaScriptによってページがロードされた後にコード進行を表示する -->
                    <tbody id="addHTML6">
                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion py-2" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                  aria-expanded="true" aria-controls="collapseFour">
                  その他のコード進行<span class="eight_chord_prog_count"></span>
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <table class="table">

                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">俗称・所感</th>
                        <th scope="col">コード進行</th>
                      </tr>
                    </thead>
                    <!--JavaScriptによってページがロードされた後にコード進行を表示する -->
                    <tbody id="addHTML8">
                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- 右カラム部分 -->
        <div id="right-column" class="col-xxl-4">
          <right-column></right-column>
        </div>

        <!-- リンクテーブル -->
        <div id="link-table">
          <link-table></link-table>
        </div>

      </div>
    </main>
  </div>

  <!-- フッター -->
  <footer id="footer">
    <footer-profile></footer-profile>
    <footer-github></footer-github>
    <footer-bug></footer-bug>
    <footer-info></footer-info>
    <footer-twitter></footer-twitter>
    <footer-youtube></footer-youtube>
    <site-logo></site-logo>
    <footer-copyright></footer-copyright>
  </footer>

  <!--ページのロードが終了したときに実行される関数 -->
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      ChordCandidateCreate();
      ChangeChordProgressionDegree();
    });
  </script>

  <!-- JavaScriptを読み込む-->
  <script src="js/Vue.js"></script>
  <script src="js/main.js"></script>
  <script src="js/ChordChange.js"></script>

  <!-- シェアボタン用のJavaScript -->
  <!-- Twitter -->
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!-- facebook -->
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v11.0"
    nonce="s28FkDyH"></script>
  <!-- note -->
  <script async src="https://cdn.st-note.com/js/social_button.min.js"></script>
  <!-- はてなブックマーク -->
  <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8"
    async="async"></script>
  <!-- Pocket -->
  <script
    type="text/javascript">!function (d, i) { if (!d.getElementById(i)) { var j = d.createElement("script"); j.id = i; j.src = "https://widgets.getpocket.com/v1/j/btn.js?v=1"; var w = d.getElementById(i); d.body.appendChild(j); } }(document, "pocket-btn-js");</script>
  <!-- Line -->
  <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async"
    defer="defer"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>