<!doctype html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138258869-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-138258869-1');
  </script>

  <!-- Vue を読み込む -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

  <!--文字エンコーディングの指定-->
  <meta charset="UTF-8">

  <!--ページタイトル-->
  <title>音価の計算をする O-TO【音楽理論ウェブアプリ】</title>

  <!--サイト情報-->
  <meta property="og:site_name" content="O-TO【音楽理論ウェブアプリ】" />
  <meta property="og:title" content="音価の計算をする O-TO【音楽理論ウェブアプリ】" />
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://o-to.khufrudamonotes.com/o-to-note-value" />
  <meta property="og:locale" content="ja_JP" />

  <!-- 画像情報 -->
  <meta property="og:image" content="https://o-to.khufrudamonotes.com/image/thumbnail/note-value_thumbnail.png" />
  <meta name="twitter:image" content="https://o-to.khufrudamonotes.com/image/thumbnail/note-value_thumbnail.png" />

  <!--ページの概要-->
  <meta property="description"
    content="指定したBPMの、18種類の「音符の長さ」を計算するアプリです。表示は秒、ミリ秒、マイクロ秒、sec、ms、μsに切り替え可能です。小節数から曲の長さを計算できる機能もあります。">
  <meta property="og:description"
    content="指定したBPMの、18種類の「音符の長さ」を計算するアプリです。表示は秒、ミリ秒、マイクロ秒、sec、ms、μsに切り替え可能です。小節数から曲の長さを計算できる機能もあります。">
  <meta name="keyword" content="音楽理論,音楽,音価,音符計算機,音価計算,音符計算,アプリ,ウェブアプリ,Webアプリ">

  <!--Internet Explorer用の設定-->
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <!--viewport設定(レスポンシブデザイン対応)-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!--OGPタグ/Facebook-->
  <meta property="fb:app_id" content="554281142516311">
  <!--OGPタグ/note-->
  <meta name="note:card" content="summary_large_image">

  <!--OGPタグ/twitterカード-->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@khufrudamonotes" />
  <meta name="twitter:creator" content="@k1mu0419" />
  <meta name="twitter:title" content="音価の計算をする O-TO【音楽理論ウェブアプリ】" />
  <meta property="twitter:description"
    content="指定したBPMの、18種類の「音符の長さ」を計算するアプリです。表示は秒、ミリ秒、マイクロ秒、sec、ms、μsに切り替え可能です。小節数から曲の長さを計算できる機能もあります。" />
  <meta property="og:description"
    content="指定したBPMの、18種類の「音符の長さ」を計算するアプリです。表示は秒、ミリ秒、マイクロ秒、sec、ms、μsに切り替え可能です。小節数から曲の長さを計算できる機能もあります。" />

  <!--サイトアイコンの指定-->
  <meta name="msapplication-square70x70logo" content="image\icon\site-tile-70x70.png">
  <meta name="msapplication-square150x150logo" content="image\icon\site-tile-150x150.png">
  <meta name="msapplication-wide310x150logo" content="image\icon\site-tile-310x150.png">
  <meta name="msapplication-square310x310logo" content="image\icon\site-tile-310x310.png">
  <meta name="msapplication-TileColor" content="#0078d7">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="image\icon\favicon.ico">
  <link rel="icon" type="image/vnd.microsoft.icon" href="image\icon\favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="image\icon\apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="image\icon\apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="image\icon\apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="image\icon\apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="image\icon\apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="image\icon\apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="image\icon\apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="image\icon\apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="image\icon\apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="36x36" href="image\icon\android-chrome-36x36.png">
  <link rel="icon" type="image/png" sizes="48x48" href="image\icon\android-chrome-48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="image\icon\android-chrome-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="image\icon\android-chrome-96x96.png">
  <link rel="icon" type="image/png" sizes="128x128" href="image\icon\android-chrome-128x128.png">
  <link rel="icon" type="image/png" sizes="144x144" href="image\icon\android-chrome-144x144.png">
  <link rel="icon" type="image/png" sizes="152x152" href="image\icon\android-chrome-152x152.png">
  <link rel="icon" type="image/png" sizes="192x192" href="image\icon\android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="256x256" href="image\icon\android-chrome-256x256.png">
  <link rel="icon" type="image/png" sizes="384x384" href="image\icon\android-chrome-384x384.png">
  <link rel="icon" type="image/png" sizes="512x512" href="image\icon\android-chrome-512x512.png">
  <link rel="icon" type="image/png" sizes="36x36" href="image\icon\icon-36x36.png">
  <link rel="icon" type="image/png" sizes="48x48" href="image\icon\icon-48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="image\icon\icon-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="image\icon\icon-96x96.png">
  <link rel="icon" type="image/png" sizes="128x128" href="image\icon\icon-128x128.png">
  <link rel="icon" type="image/png" sizes="144x144" href="image\icon\icon-144x144.png">
  <link rel="icon" type="image/png" sizes="152x152" href="image\icon\icon-152x152.png">
  <link rel="icon" type="image/png" sizes="160x160" href="image\icon\icon-160x160.png">
  <link rel="icon" type="image/png" sizes="192x192" href="image\icon\icon-192x192.png">
  <link rel="icon" type="image/png" sizes="196x196" href="image\icon\icon-196x196.png">
  <link rel="icon" type="image/png" sizes="256x256" href="image\icon\icon-256x256.png">
  <link rel="icon" type="image/png" sizes="384x384" href="image\icon\icon-384x384.png">
  <link rel="icon" type="image/png" sizes="512x512" href="image\icon\icon-512x512.png">
  <link rel="icon" type="image/png" sizes="16x16" href="image\icon\icon-16x16.png">
  <link rel="icon" type="image/png" sizes="24x24" href="image\icon\icon-24x24.png">
  <link rel="icon" type="image/png" sizes="32x32" href="image\icon\icon-32x32.png">
  <link rel="manifest" href="image\icon\manifest.json">

  <!-- AdSense コード -->
  <script data-ad-client="ca-pub-1796975428667007" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <!-- headのコンポーネントを読み込む -->
  <div id="head">
    <head-template></head-template>
  </div>

  <!--bootstrap を読み込む-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <div class="container">

    <!-- ヘッダー -->
    <header id="header">
      <header-template></header-template>
    </header>

    <!-- メイン -->
    <main>

      <!-- 見出し -->
      <div id="display">
        <title-display></title-display>
      </div>

      <!-- 左(メインコンテンツ) -->
      <div class="row">
        <div class="col-xxl-8">

          <h3 class="Larger shadow p-3 rounded mb-5 py-3">⑦音価の計算をする</h3>

          <!-- タブの中身 -->
          <div id="tabBox" class=" pb-3">
            <!-- タブの切り替えボタン -->
            <div id="tabs">
              <input type="radio" value="1" id="tab1" v-model="isActive"></input>
              <label for="tab1">ガイド</label>
              <input type="radio" value="2" id="tab2" v-model="isActive"></input>
              <label for="tab2">説明書</label>
              <input type="radio" value="3" id="tab3" v-model="isActive"></input>
              <label for="tab3">関連資料</label>
            </div>

            <div id="contents">

              <!-- タブ1の中身 -->
              <div v-if="isActive == '1'">
                <p class="pt-3 pb-2">
                  指定したBPMの、18種類の「音符の長さ」を計算するアプリです。<br>表示は秒、ミリ秒、マイクロ秒、sec、ms、μsに切り替え可能です。<br><br>小節数から曲の長さを計算できる機能もあります。
                </p>
                <p class="py-2">※ここに無い種類の音符の長さを求めたい方は、<a href="o-to-metric-modulation.html">⑧メトリック・モジュレーション</a>をお使いください。
                </p>
              </div>

              <!-- タブ2の中身 -->
              <div v-if="isActive == '2'" class="pb-2">
                <p class="py-2">ディレイ・タイムが計算したいですか？<br>
                  リヴァーブ・プラグインに入力する値の目安が知りたいですか？</p>
                <p class="py-2">———簡単です。</p>
                <h4 class="pt-3 manual">【使い方】</h4>
                <p class="py-2">調べたいBPMを入力すると、計算が行われます。</p>

                <h4 class="pt-3 manual">【表示形式】</h4>
                <p class="py-2">音価の表示形式は、[<b>秒、ミリ秒、マイクロ秒、sec、ms、μs</b>]の6種類から選べます。</p>
                <p class="py-2">ドロップダウンリストから指定すると、指定した表示形式に切り替わります。</p>
                <p class="py-2">計算結果が小数点第4位以下を含む場合、表示される値は小数点第4位を四捨五入されたものになります。</p>

                <h4 class="pt-3 manual">【小節数から曲の長さを計算する】</h4>
                <p class="py-2">拍子と小節数を指定すると、指定BPMでの曲の長さが計算されます。</p>
              </div>

              <!-- タブ3の中身 -->
              <div v-if="isActive == '3'" class="pb-2">
                <div class="pt-3 pb-2">・
                  <a href="https://khufrudamonotes.com/rhythm-math" target="_blank"
                    rel="noopener noreferrer">どんなリズムも理解する方法 -数学的リズム論-</span></a>
                  <p>リズムの考え方や、音価の計算方法をまとめた記事です。</p>
                </div>
                <div class="py-2">・
                  <a href="https://khufrudamonotes.com/metric-modulation" target="_blank"
                    rel="noopener noreferrer">メトリック・モジュレーションを解説</span></a>
                  <p>メトリック・モジュレーションを解説した記事です。</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row py-2">

            <label for="input_bpm" class="box1 col-6 col-xxl-4">BPM
              <input id=input_bpm type="number" class="form-control my-1 mb-3" pattern="^[0-9]+$" maxlength='3'
                value="120" placeholder=BPM aria-label="BPM" onchange="NoteLength()">
            </label>

            <label for="time_unit" class="box2 col-6 col-xxl-2">表示形式
              <select id="time_unit" class="form-select my-1" aria-label="Default select example"
                onchange="NoteLength()">
                <option value=秒>秒</option>
                <option value=ミリ秒>ミリ秒</option>
                <option value=マイクロ秒>マイクロ秒</option>
                <option value=sec>sec</option>
                <option value=ms selected>ms</option>
                <option value=μs>μs</option>
              </select>
            </label>
          </div>

          <!-- 音価を表示するテーブル -->
          <table class="box_table">
            <thead class="note_value_table">
              <tr class="tr_long_note" id="time_maxima"></tr>
              <tr class="tr_long_note" id="time_longa"></tr>
              <tr class="tr_long_note" id="time_double_whole_note"></tr>
              <tr class="tr_note" id="time_whole_note"></tr>
              <tr class="tr_1dot_note" id="time_1dot_half_note"></tr>
              <tr class="tr_note" id="time_half_note"></tr>

              <tr class="tr_tuplet_note" id="time_half_note_triplet"></tr>
              <tr class="tr_1dot_note" id="time_1dot_quarter_note"></tr>
              <tr class="tr_quarter_note" id="time_quarter_note"></tr>
              <tr class="tr_1dot_note" id="time_1dot_8th_note"></tr>
              <tr class="tr_tuplet_note" id="time_quarter_note_triplet"></tr>
              <tr class="tr_note" id="time_8th_note"></tr>

              <tr class="tr_1dot_note" id="time_1dot_16th_note"></tr>
              <tr class="tr_tuplet_note" id="time_8th_note_tuplet"></tr>
              <tr class="tr_note" id="time_16th_note"></tr>
              <tr class="tr_tuplet_note" id="time_quarter_note_quintuplet"></tr>
              <tr class="tr_tuplet_note" id="time_16th_note_tuplet"></tr>
              <tr class="tr_note" id="time_32th_note"></tr>
            </thead>
          </table>

          <!-- ---------------------------------------------------------------------------------------------------------------------- -->
          <h3 class="Larger shadow p-3 rounded mt-3 mb-3 py-3">小節数から曲の長さを計算</h3>

          <label for="Numerator" class="box2 col-3 col-xxl-2">拍子（分子）
            <input id="Numerator" type="number" class="form-control my-1 mb-3" pattern="^[0-9]+$" maxlength='2'
              value="4" placeholder=barCount aria-label="barCount" onchange="barLength()">
          </label>

          <label for="Denominator" class="box2 col-3 col-xxl-2">拍子（分母）
            <select id="Denominator" class="form-select my-1" aria-label="barCount" onchange="barLength()">
              <option value=2>2</option>
              <option value=4 selected>4</option>
              <option value=8>8</option>
              <option value=16>16</option>
            </select>
          </label>

          <label for="barCount" class="box1 col-3 col-xxl-3">小節数
            <input id=barCount type="number" class="form-control my-1 mb-3" pattern="^[0-9]+$" maxlength='3' value="128"
              placeholder=barCount aria-label="barCount" onchange="barLength()">
          </label>

          <!-- 小節数と尺の情報を追加 -->
          <p id="barInfo" class="py-2"></p>
        </div>

        <!-- ---------------------------------------------------------------------------------------------------------------------- -->
        <!-- 右カラム部分 -->
        <div id="right-column" class="col-xxl-4">
          <right-column></right-column>
        </div>

      </div>

    </main>
  </div>

  <!-- フッター -->
  <footer id="footer">
    <footer-profile></footer-profile>
    <footer-github></footer-github>
    <footer-bug></footer-bug>
    <footer-info></footer-info>
    <footer-twitter></footer-twitter>
    <footer-youtube></footer-youtube>
    <site-logo></site-logo>
    <footer-copyright></footer-copyright>
  </footer>

  <!--ページのロードが終了したときに実行される関数 -->
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      //音価の計算をして描画する関数
      NoteLength();
      barLength();
    });
  </script>

  <!-- JavaScriptを読み込む-->
  <script src="js/Vue.js"></script>
  <script src="js/main.js"></script>
  <script src="js/Rhythm.js"></script>

  <!-- シェアボタン用のJavaScript -->
  <!-- Twitter -->
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!-- facebook -->
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v11.0"
    nonce="s28FkDyH"></script>
  <!-- note -->
  <script async src="https://cdn.st-note.com/js/social_button.min.js"></script>
  <!-- はてなブックマーク -->
  <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8"
    async="async"></script>
  <!-- Pocket -->
  <script type="text/javascript">!function (d, i) { if (!d.getElementById(i)) { var j = d.createElement("script"); j.id = i; j.src = "https://widgets.getpocket.com/v1/j/btn.js?v=1"; var w = d.getElementById(i); d.body.appendChild(j); } }(document, "pocket-btn-js");
  </script>
  <!-- Line -->
  <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async"
    defer="defer"></script>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

</body>

</html>