<!doctype html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138258869-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-138258869-1');
  </script>

  <!-- Vue を読み込む -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

  <!--文字エンコーディングの指定-->
  <meta charset="utf-8">

  <!--ページタイトル-->
  <title>転調の間隔・調の関係を調べる O-TO【音楽理論ウェブアプリ】</title>

  <!--サイト情報-->
  <meta property="og:site_name" content="O-TO【音楽理論ウェブアプリ】" />
  <meta property="og:title" content="転調の間隔・調の関係を調べる O-TO【音楽理論ウェブアプリ】" />
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://o-to.khufrudamonotes.com/o-to-modulation" />
  <meta property="og:locale" content="ja_JP" />

  <!-- 画像情報 -->
  <meta property="og:image" content="https://o-to.khufrudamonotes.com/image/thumbnail/modulation_thumbnail.png" />
  <meta name="twitter:image" content="https://o-to.khufrudamonotes.com/image/thumbnail/modulation_thumbnail.png" />

  <!--ページの概要-->
  <meta property="description" content="「転調の間隔」を調べられるアプリです。指定したキーがどんな関係性か簡単に分かります。旋法（モード）にも対応しています。">
  <meta property="og:description" content="「転調の間隔」を調べられるアプリです。指定したキーがどんな関係性か簡単に分かります。旋法（モード）にも対応しています。">
  <meta name="keyword" content="音楽理論,音楽,転調,五度圏,アプリ,ウェブアプリ,Webアプリ">

  <!--Internet Explorer用の設定-->
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <!--viewport設定(レスポンシブデザイン対応)-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!--OGPタグ/Facebook-->
  <meta property="fb:app_id" content="554281142516311">
  <!--OGPタグ/note-->
  <meta name="note:card" content="summary_large_image">

  <!--OGPタグ/twitterカード-->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@khufrudamonotes" />
  <meta name="twitter:creator" content="@k1mu0419" />
  <meta name="twitter:title" content="転調の間隔・調の関係を調べる O-TO【音楽理論ウェブアプリ】" />
  <meta property="twitter:description" content="「転調の間隔」を調べられるアプリです。指定したキーがどんな関係性か簡単に分かります。旋法（モード）にも対応しています。" />
  <meta property="og:description" content="「転調の間隔」を調べられるアプリです。指定したキーがどんな関係性か簡単に分かります。旋法（モード）にも対応しています。" />

  <!--サイトアイコンの指定-->
  <meta name="msapplication-square70x70logo" content="image\icon\site-tile-70x70.png">
  <meta name="msapplication-square150x150logo" content="image\icon\site-tile-150x150.png">
  <meta name="msapplication-wide310x150logo" content="image\icon\site-tile-310x150.png">
  <meta name="msapplication-square310x310logo" content="image\icon\site-tile-310x310.png">
  <meta name="msapplication-TileColor" content="#0078d7">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="image\icon\favicon.ico">
  <link rel="icon" type="image/vnd.microsoft.icon" href="image\icon\favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="image\icon\apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="image\icon\apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="image\icon\apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="image\icon\apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="image\icon\apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="image\icon\apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="image\icon\apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="image\icon\apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="image\icon\apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="36x36" href="image\icon\android-chrome-36x36.png">
  <link rel="icon" type="image/png" sizes="48x48" href="image\icon\android-chrome-48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="image\icon\android-chrome-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="image\icon\android-chrome-96x96.png">
  <link rel="icon" type="image/png" sizes="128x128" href="image\icon\android-chrome-128x128.png">
  <link rel="icon" type="image/png" sizes="144x144" href="image\icon\android-chrome-144x144.png">
  <link rel="icon" type="image/png" sizes="152x152" href="image\icon\android-chrome-152x152.png">
  <link rel="icon" type="image/png" sizes="192x192" href="image\icon\android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="256x256" href="image\icon\android-chrome-256x256.png">
  <link rel="icon" type="image/png" sizes="384x384" href="image\icon\android-chrome-384x384.png">
  <link rel="icon" type="image/png" sizes="512x512" href="image\icon\android-chrome-512x512.png">
  <link rel="icon" type="image/png" sizes="36x36" href="image\icon\icon-36x36.png">
  <link rel="icon" type="image/png" sizes="48x48" href="image\icon\icon-48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="image\icon\icon-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="image\icon\icon-96x96.png">
  <link rel="icon" type="image/png" sizes="128x128" href="image\icon\icon-128x128.png">
  <link rel="icon" type="image/png" sizes="144x144" href="image\icon\icon-144x144.png">
  <link rel="icon" type="image/png" sizes="152x152" href="image\icon\icon-152x152.png">
  <link rel="icon" type="image/png" sizes="160x160" href="image\icon\icon-160x160.png">
  <link rel="icon" type="image/png" sizes="192x192" href="image\icon\icon-192x192.png">
  <link rel="icon" type="image/png" sizes="196x196" href="image\icon\icon-196x196.png">
  <link rel="icon" type="image/png" sizes="256x256" href="image\icon\icon-256x256.png">
  <link rel="icon" type="image/png" sizes="384x384" href="image\icon\icon-384x384.png">
  <link rel="icon" type="image/png" sizes="512x512" href="image\icon\icon-512x512.png">
  <link rel="icon" type="image/png" sizes="16x16" href="image\icon\icon-16x16.png">
  <link rel="icon" type="image/png" sizes="24x24" href="image\icon\icon-24x24.png">
  <link rel="icon" type="image/png" sizes="32x32" href="image\icon\icon-32x32.png">
  <link rel="manifest" href="image\icon\manifest.json">

  <!-- AdSense コード -->
  <script data-ad-client="ca-pub-1796975428667007" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <!-- headのコンポーネントを読み込む -->
  <div id="head">
    <head-template></head-template>
  </div>

  <!--bootstrap を読み込む-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <div class="container">

    <!-- ヘッダー -->
    <header id="header">
      <header-template></header-template>
    </header>

    <!-- メイン -->
    <main>

      <!-- 見出し -->
      <div id="display">
        <title-display></title-display>
      </div>


      <!-- 左(メインコンテンツ) -->
      <div class="row">
        <div class="col-xxl-8">
          <h3 class="Larger shadow p-3 rounded mb-5 py-3">⑥転調の間隔・調の関係を調べる</h3>

          <!-- タブの中身 -->
          <div id="tabBox" class="pb-3">
            <!-- タブの切り替えボタン -->
            <div id="tabs">
              <input type="radio" value="1" id="tab1" v-model="isActive"></input>
              <label for="tab1">ガイド</label>
              <input type="radio" value="2" id="tab2" v-model="isActive"></input>
              <label for="tab2">説明書</label>
              <input type="radio" value="3" id="tab3" v-model="isActive"></input>
              <label for="tab3">関連資料</label>
            </div>

            <div id="contents">

              <!-- タブ1の中身 -->
              <div v-if="isActive == '1'">
                <p class="py-2">指定した調（キー）の関係性を調べられるアプリです。<br>
                  <span class="scale_count">70種類以上</span>のスケールやモードを指定可能です。<br>
              </div>

              <!-- タブ2の中身 -->
              <div v-if="isActive == '2'" class="pb-2">
                <p class="pt-3 pb-2">転調の間隔を調べられるアプリです。<br>
                  ———五度圏を見ながら頭を捻る必要はありません。</p>

                <h4 class="pt-3 manual">【使い方】</h4>
                <p class="py-2">ドロップダウンリストから任意の項目を選んでください。<br>結果は自動的に切り替わります。</p>

                <h4 class="pt-3 manual">【異名同音について】</h4>
                <p class="pt-2">※このページでは、厳密な異名同音の区別を行っていません。<br>→
                  <a href="https://khufrudamonotes.com/enharmonic" target="_blank"
                    rel="noopener noreferrer">異名同音を解説します【「ド#」と「レ♭」との違いとは？】</a>
                </p>

                <h4 class="pt-3 manual">【情報提供のお願い】</h4>
                <p class="py-2">是非、調べた楽曲のデータを教えてください。<br>皆様のひと手間で <a
                    href="https://docs.google.com/spreadsheets/d/1mo7wY14HYi7PhnRst_a-9c4Sx9cLGNQlkf3ovcwLFF8/edit?usp=sharing"
                    target="_blank" rel="noopener noreferrer">データベース</span></a>が強化されます。</p>
                <p class="py-2">回答は、ページ下部の<a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSdt23bbHRWAiacNdszq6wgN1Rmc_bY0DSV9Nk6WVi3Uxib-DQ/viewform"
                    target="_blank" rel="noopener noreferrer">グーグル・フォーム</span></a>からお願いいたします。<br>
              </div>

              <!-- タブ3の中身 -->
              <div v-if="isActive == '3'" class="pb-2">
                <div class="pt-3 pb-2">・
                  <a href="https://khufrudamonotes.com/modulation-questionnaire-form" target="_blank"
                    rel="noopener noreferrer">【おかげ様で200曲超え！】みんなで使える「転調している曲」のデータベースを作りました！</span></a>
                  <p>転調する曲をまとめたデータベースです。</p>
                </div>
                <div class="py-2">・
                  <a href="https://khufrudamonotes.com/kind-of-modulation" target="_blank" rel="noopener noreferrer">転調
                    まとめ 【全12種類・参考曲 30曲以上!】ヒット曲にかかる魔法を分析!!</span></a>
                  <p>転調の種類ごとに参考曲をまとめた記事です。</p>
                </div>
                <div class="py-2">・
                  <a href="https://khufrudamonotes.com/how-to-modulation" target="_blank" rel="noopener noreferrer">転調
                    やり方【10以上の方法・曲例あり！】どんなキーへでも転調できる！！</span></a>
                  <p>転調のやり方を解説した記事です。</p>
                </div>
                <div class="py-2">・
                  <a href="https://khufrudamonotes.com/a-lot-of-modulation" target="_blank"
                    rel="noopener noreferrer">転調が多い曲・転調しまくる曲 まとめ【10回以上転調する曲も！！】</span></a>
                  <p>たくさん転調する曲をまとめた記事です。</p>
                </div>
              </div>
            </div>
          </div>


          <div class="row py-2">
            <label for="b_note" class="box1 col-6 col-xxl-2">転調前の主音
              <select id="b_note" class="form-select my-1" aria-label="Default select example" onchange="modulation()">
                <option value=0>C</option>
                <option value=1>C#-D♭</option>
                <option value=2>D</option>
                <option value=3>D#-E♭</option>
                <option value=4>E</option>
                <option value=5>F</option>
                <option value=6>F#-G♭</option>
                <option value=7>G</option>
                <option value=8>G#-A♭</option>
                <option value=9>A</option>
                <option value=10>A#-B♭</option>
                <option value=11>B</option>
              </select>
            </label>

            <label for="b_mode" class="box2 col-6 col-xxl-4">転調前の調性
              <select id="b_mode" class="form-select my-1" aria-label="Default select example" onchange="modulation()">
              </select>
            </label>

            <label for="a_note" class="box4 col-6 col-xxl-2">転調後の主音
              <select id="a_note" class="form-select my-1" aria-label="Default select example" onchange="modulation()">
                <option value=0>C</option>
                <option value=1>C#-D♭</option>
                <option value=2>D</option>
                <option value=3>D#-E♭</option>
                <option value=4>E</option>
                <option value=5>F</option>
                <option value=6>F#-G♭</option>
                <option value=7>G</option>
                <option value=8>G#-A♭</option>
                <option value=9>A</option>
                <option value=10>A#-B♭</option>
                <option value=11>B</option>
              </select>
            </label>

            <label for="a_mode" class="box5 col-6 col-xxl-4">転調後の調性
              <select id="a_mode" class="form-select my-1" aria-label="Default select example" onchange="modulation()">
              </select>
            </label>
          </div>


          <table class="box_table" id="modulationTable">
            <td id="result_b_key"></td>
            <td id="result_modulation" class="modulationBorder0">
            <td id="result_a_key"></td>
          </table>


          <h3 class="Larger shadow p-3 rounded mt-5 py-3">転調元のキーから考える</h3>

          <div class="row my-4">
            <label for="note" class="box3 col-5 col-xxl-3">転調元の主音
              <select id="note" class="form-select my-1" aria-label="Default select example" onchange="keychange()">
                <option value=0>C</option>
                <option value=1>C#-D♭</option>
                <option value=2>D</option>
                <option value=3>D#-E♭</option>
                <option value=4>E</option>
                <option value=5>F</option>
                <option value=6>F#-G♭</option>
                <option value=7>G</option>
                <option value=8>G#-A♭</option>
                <option value=9>A</option>
                <option value=10>A#-B♭</option>
                <option value=11>B</option>
              </select>
            </label>

            <label for="mode" class="box3 col-7 col-xxl-4">転調元の調性
              <select id="mode" class="form-select my-1" aria-label="Default select example" onchange="keychange()">
              </select>
            </label>

            <label for="after_mode" class="box3 col-md-12 col-xxl-4 offset-xxl-1">転調後の調性
              <select id="after_mode" class="form-select my-1" aria-label="Default select example"
                onchange="keychange()">
              </select>
            </label>
          </div>

          <h4 id="result_origin"></h4>

          <table class="box_table" id="modulationTable2">
            <tr>
              <td class="Degree7" id="result_s_1"></td>
              <td class="Degree5" id="result_f_1"></td>
            </tr>
            <tr>
              <td class="Degree2" id="result_s_2"></td>
              <td class="Degree10" id="result_f_2"></td>
            </tr>
            <tr>
              <td class="Degree9" id="result_s_3"></td>
              <td class="Degree3" id="result_f_3"></td>
            </tr>
            <tr>
              <td class="Degree4" id="result_s_4"></td>
              <td class="Degree8" id="result_f_4"></td>
            </tr>
            <tr>
              <td class="Degree11" id="result_s_5"></td>
              <td class="Degree1" id="result_f_5"></td>
            </tr>
            <tr>
              <td class="Degree6" id="result_sf_6"></td>
              <td class="Degree0" id="result_sf_zero"></td>
            </tr>
          </table>

          <h3 class="Larger shadow p-3 rounded mt-5 py-3">「転調している曲」の情報提供のお願い</h3>
          <p class="pt-2">是非、調べた楽曲のデータを教えてください。皆様のひと手間で<a
              href="https://docs.google.com/spreadsheets/d/1mo7wY14HYi7PhnRst_a-9c4Sx9cLGNQlkf3ovcwLFF8/edit?usp=sharing"
              target="_blank" rel="noopener noreferrer">データベース</a>が強化されます。</p>

          <div class="ratio ratio-16x9">
            <iframe class="py-3"
              src="https://docs.google.com/forms/d/e/1FAIpQLSdt23bbHRWAiacNdszq6wgN1Rmc_bY0DSV9Nk6WVi3Uxib-DQ/viewform?embedded=true"
              allowfullscreen>読み込んでいます…</iframe>
          </div>

        </div>

        <!-- 右カラム部分 -->
        <div id="right-column" class="col-xxl-4">
          <right-column></right-column>
        </div>

        <div id="right-column">
          <right-column></right-column>
        </div>

      </div>

    </main>
  </div>

  <!-- フッター -->
  <footer id="footer">
    <footer-profile></footer-profile>
    <footer-github></footer-github>
    <footer-bug></footer-bug>
    <footer-info></footer-info>
    <footer-twitter></footer-twitter>
    <footer-youtube></footer-youtube>
    <site-logo></site-logo>
    <footer-copyright></footer-copyright>
  </footer>

  <!-- JavaScriptを読み込む-->
  <script src="js/Vue.js"></script>
  <script src="js/main.js"></script>
  <script src="js/ScaleChord.js"></script>

  <!--ページのロードが終了したときに実行される関数 -->
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      //スケールの選択肢を表示するためのHTML要素(option)を追加するための関数
      CeateScaleChoices("a_mode");
      CeateScaleChoices("b_mode");
      CeateScaleChoices("mode");
      CeateScaleChoices("after_mode");
      //転調の種類を判別するための関数
      modulation();
      keychange();
    });
  </script>

  <!-- シェアボタン用のJavaScript -->
  <!-- Twitter -->
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!-- facebook -->
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v11.0"
    nonce="s28FkDyH"></script>
  <!-- note -->
  <script async src="https://cdn.st-note.com/js/social_button.min.js"></script>
  <!-- はてなブックマーク -->
  <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8"
    async="async"></script>
  <!-- Pocket -->
  <script
    type="text/javascript">!function (d, i) { if (!d.getElementById(i)) { var j = d.createElement("script"); j.id = i; j.src = "https://widgets.getpocket.com/v1/j/btn.js?v=1"; var w = d.getElementById(i); d.body.appendChild(j); } }(document, "pocket-btn-js");</script>
  <!-- Line -->
  <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async"
    defer="defer"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

</body>

</html>